{% extends 'diary/base.html'%}
{% load static %}
{% block title%}日記詳細| privatediary{% endblock %}
{% block active_diary_list %}active{% endblock %}
{% block contents %}
<a class="btn btn-primary float-right"href="{%url 'diary:diary_create'%}">新規作成</a>
<div class="container">
    <div class="roq">
        <div class="my-div-style w-100">
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token%}
        <table class="table">
            {{form.as_table}}
        </table>
    <button class="btn btn-primary"type="submit" >さくせい</button>
</form>
        </div>
    </div>
</div>
{%endblock%}