{% extends 'diary/base.html'%}
{% load static %}

   {% block title %}aaaaa |Private Diary{% endblock %}
    
    
        <!-- Content section 1--> 
        {%block contents %}
        <div class="container>
            <div class="container px-5">
                <div class="row gx-5 align-items-center my-div-style">
                    <form method="post">
                        {% csrf_token %}

                        {{ form.non_filed_errors}}
 
                        {% for field in form %}
                        <div class="form-group row">
                            <label for="{{ field.id_for_label}}" class="col-sm-4 col-form-label">
                            <strong>{{ field.label_tag}}</strong>
                            </label>
                            <div class="col-sm-8">
                                {{ field }}
                                {{ field.errors }}   
                            </div>
                        </div> 
                        {% endfor%}
                        <div class="offspt-sm-4 col-sm-8">
                            <button class="btn btn-promary" type="submit">送信 </button>
                        </div>  
                    </form>     
                 </div>
            </div>
        {% endblock %}
       